# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Coroutines & Lineair Interpolation.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Projects\SchoolProjects\schoolprojecten-leerjaar-2\GPR\Coroutines & Lineair Interpolation\.idea\.idea.Coroutines & Lineair Interpolation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
